




/* Tabs */
 * {
    box-sizing: border-box
}

body {
   font-family: "Lato", sans-serif;
}

/* Style the tab */
.tab {
    float: left;
    border-right: 1px solid #ccc;
    background-color: none;
    width: 30%;
    height: 300px;
        }

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: grey;
    padding: 15px 30px 10px 0px;
    width: 100%;
    border: none;
    outline: none;
    text-align: right;
    cursor: pointer;
    transition: 0.3s;
    font-size: 13px;
}

/* Change font color of buttons on hover */
.tab button:hover {
    color: black;
}

/* Create an active/current "tab button" class */
.tab button.active {
    color: black;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: none;
    width: 70%;
    border-left: none;
    height: 300px;
}







/* nav imgs/links */
.navLogo {
    width: auto;
    height: 33px;
    margin: 3% 15%;
}

.instaLogo {
    width: auto;
    height: 30px;
    opacity: 0.7;
}

.fbLogo {
    width: auto;
    height: 21px;
    margin-bottom: 4px;
    opacity: 0.7;
}

.msLogo {
    width: auto;
    height: 23px;
    margin-bottom: 4px;
    opacity: 0.7;
}

.auctionImg {
    height: auto;
    width: 500px;
    object-fit: scale-down;
    opacity: 0.7;
}

img:hover {
  opacity: 1.0;
}



/* start navbar */

.navBar {
  background-color: inherit;
}

.navbar-links {
  float: right;
  margin: 3% 7%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  text-size-adjust: 5px;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  font-size: .77em;
}

.navbar-links li:hover {
  background-color: none;
}

.toggle-button {
  position: absolute;
  top: 3.5%;
  right: 5%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 13px;
}

.toggle-button .bar {
  height: 1px;
  width: 100%;
  background-color: black;
  border-radius: 25px;
}

@media (max-width: 800px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;

  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {

    flex-direction: column;
    padding-top: 40px;
  }

  .navbar-links li {
    text-align: right;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* end navbar */